In [1]:
import pandas as pd 
import numpy as np
import os

In [2]:
GunLaws = pd.read_csv("GunLawsbyState.csv")

In [3]:
MassShootings = pd.read_csv("MassShootingsbyState.csv")

In [4]:
Registration = pd.read_csv("WeaponsbyState.csv")

In [5]:
GunLawsDF = pd.DataFrame(GunLaws)
GunLawsDF.head()

,State,firearmRegRequired,permitReqToCarry,permitReqToPurchase,openCarryLegal
0,Washington,True,True,False,True
1,New York,True,True,True,False
2,New Jersey,True,True,True,False
3,Michigan,True,True,False,True
4,Maryland,True,True,True,True

In [6]:
MassShootingsDF = pd.DataFrame(MassShootings)
MassShootingsDF = MassShootingsDF.drop(columns="Operations")
MassShootingsDF.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured
0,29-Dec-19,Illinois,Danville,1803 block of Westview Ave,0,5
1,29-Dec-19,New York,Buffalo,50 block of Henrietta Ave,1,3
2,29-Dec-19,California,Ceres,800 block of Allacante Dr,0,5
3,27-Dec-19,California,Modesto,1900 block of Vernon Ave,1,3
4,27-Dec-19,Georgia,Kennesaw,1575 Ridenour Pkwy NW,0,4

In [7]:
RegistrationDF= pd.DataFrame(Registration)
RegistrationDF= RegistrationDF.rename(columns={"Number of registered weapons in the U.S. in 2019, by state": "State"})
RegistrationDF= RegistrationDF.rename(columns={"Unnamed: 1": "Number of Registered Weapons"})
RegistrationDF.head()

          State Number of Registered Weapons
0         Texas                      725,368
1       Florida                      432,581
2    California                      376,666
3      Virginia                      356,963
4  Pennsylvania                      271,427

In [8]:
DF1 = pd.merge(GunLawsDF, RegistrationDF, how="left", on="State")
DF1.head()

,State,firearmRegRequired,permitReqToCarry,permitReqToPurchase,openCarryLegal,Number of Registered Weapons
0,Washington,True,True,False,True,"119,829"
1,New York,True,True,True,False,"82,917"
2,New Jersey,True,True,True,False,"90,217"
3,Michigan,True,True,False,True,"83,355"
4,Maryland,True,True,True,True,"128,289"

In [17]:
DF2 = pd.merge(DF1, MassShootingsDF, how="left", on="State")
DF2 = DF2.rename(columns={"firearmRegRequired":"Registration Required", "permitReqToCarry": "Permit to Carry Required", "permitReqToPurchase":"Permit to Purchase Required", "openCarryLegal": "Open Carry is Legal"})

In [18]:
DF2.to_csv(index=False, "MergedDF_notclean")

,State,Registration Required,Permit to Carry Required,Permit to Purchase Required,Open Carry is Legal,Number of Registered Weapons,Incident Date,City Or County,Address,# Killed,# Injured
0,Washington,True,True,False,True,"119,829",21-Nov-19,Everett,120 West Casino Rd,0.0,4.0
1,Washington,True,True,False,True,"119,829",13-Aug-19,Tacoma,E 38th St and E Roosevelt Ave,2.0,3.0
2,Washington,True,True,False,True,"119,829",26-Jul-19,Kennewick,E 10th Ave,1.0,3.0
3,Washington,True,True,False,True,"119,829",8-Jun-19,White Swan,5151 Medicine Valley Rd,5.0,2.0
4,New York,True,True,True,False,"82,917",29-Dec-19,Buffalo,50 block of Henrietta Ave,1.0,3.0

In [24]:
DFG = DF2.groupby(["State", "Registration Required", "Permit to Carry Required", "Permit to Purchase Required", "Open Carry is Legal", "Number of Registered Weapons"])

In [25]:
DFG